/*  ____                  _ _     */
/* |  _ \                | | |    */
/* | |_) | __ _ ___  __ _| | |_   */
/* |  _ < / _` / __|/ _` | | __|  */
/* | |_) | (_| \__ \ (_| | | |_   */
/* |____/ \__,_|___/\__,_|_|\__|  */
/*                                */
/* ============================== */
/*                                */
/* [2021 Wikidot Theme]           */
/* Version 2.1.0                  */
/*                                */
/* by Liryn, Placeholder McD      */
/* with thanks to EstrellaYoshte  */
/*                                */
/* Built on Bedrock               */
/*                                */

/*-----------------*/
/*---- IMPORTS ----*/
/*-----------------*/

@import url('https://cdn.scpwiki.com/theme/en/basalt/normalize-min.css');
@import url('https://cdn.scpwiki.com/theme/en/basalt/basalt-bedrock-min.css');
@import url('https://cdn.staticfile.org/font-awesome/4.7.0/css/font-awesome.css');
@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {

    /*----------------------*/
    /*---- BEDROCK VARS ----*/
    /*----------------------*/

    --header-logo: var(--logo);
    --logo: url('https://write-on-paper.wdfiles.com/local--files/start/penlogo_l.png'); 

    --header-title: var(--title);
    --header-subtitle: var(--subtitle);
    --header-logo-size:70%;
    --title: "Write on paper";
    --subtitle: "在纸上随意写点东西";

    --main-content-width: 60rem;
    --main-content-top-margin: 1.5rem;
    --base-font-size: .875rem;
    --bottom-area-padding: calc(var(--true-font-size)*2);
    --side-bar-width: 17rem;
    --basalt-page-content-font-weight: 440;

    --header-font-primary: var(--UI-font-primary);
    --UI-font-primary: 'Sofia Sans';
    --basalt-overtone: 10, 10, 11;
    --basalt-undertone: var(--basalt-bright-element-color);
    --basalt-UI-dark-palette: 50, 50, 51;
    --basalt-bright-element-color: 150, 24, 43;
    --basalt-dark-element-color: 105, 17, 30;
    --basalt-alternate-color: 221, 119, 17;
    --basalt-primary-color: 252, 252, 252;
    --basalt-secondary-color: 240, 240, 244;
    --basalt-tertiary-color: 229, 229, 238;
    --basalt-main-text-color: 35, 35, 38;

    --title-border-color: var(--basalt-overtone);
    --license-area-divider-color: var(--basalt-overtone);
    --footer-divider-color: var(--basalt-overtone);
    --search-icon-color: var(--basalt-overtone);
    --hr-color: var(--general-border-color);
    --general-border-color: 220, 220, 220;
    --rate-module-cancel-color: var(--basalt-alternate-color);
    --scrollbar-thumb-color: var(--basalt-dark-element-color);
    --modal-fader-background-color: 0, 0, 0;

    --side-bar-heading-background-color: 0, 0, 2, 0.07;
    --side-bar-media-background-color: none; /* Disabled by default */
    --side-bar-resources-background-color: none; /* Disabled by default */
    --side-bar-button-background-hover: none; /* Disabled by default */
    --side-bar-heading-text-color-hover: 255, 255, 255, 0.4;
    --side-bar-button-color-hover: var(--side-bar-button-color);

    /*---------------------*/
    /*---- BASALT VARS ----*/
    /*---------------------*/

    --basalt-UI-background-color: var(--basalt-secondary-color);
    --header-background-color: var(--basalt-UI-background-color);
    --side-bar-background-color: var(--basalt-UI-background-color);
    --bottom-area-background-color: var(--basalt-UI-background-color);
    --edit-area-ancillary-background-color: var(--basalt-UI-background-color);
    --edit-area-toolbar-background-color: var(--basalt-UI-background-color);
    --button-background-color: var(--basalt-UI-background-color);

    --basalt-UI-text-color: var(--basalt-main-text-color);
    --header-title-color: var(--basalt-UI-text-color);
    --header-subtitle-color: var(--basalt-UI-text-color);
    --top-bar-link-color: var(--basalt-UI-text-color);
    --search-icon-color: var(--basalt-UI-text-color);
    --side-bar-heading-text-color: var(--basalt-UI-text-color);
    --side-bar-link-color: var(--basalt-UI-text-color);
    --bottom-area-text-color: var(--basalt-UI-text-color);
    --edit-area-ancillary-text-color: var(--basalt-UI-text-color);
    --edit-area-toolbar-icon-color: var(--basalt-UI-text-color);
    --button-text-color: var(--basalt-UI-text-color);
    --basalt-sub-text-color: var(--basalt-UI-text-color);

    --ACS-font: var(--header-font);
    --basalt-th-background-color: var(--basalt-UI-dark-palette);
    --basalt-th-text-color: var(--basalt-light-text-color);
    --image-caption-text-color: var(--basalt-main-text-color);
    --authorbox-background-color: var(--basalt-primary-color);
    --floatbox-background-color: var(--basalt-secondary-color);
    --document-background-color: 253, 253, 253;
    --darkdocument-background-color: 30, 30, 35;

    --header-drop-shadow-opacity: 0.1;
    --window-border-radius: 8px;

    /*-----------------------*/
    /*---- EXTERNAL VARS ----*/
    /*-----------------------*/

    /* Info Bar */
    --linkColour: rgb(var(--basalt-light-text-color)) !important;
    --barColour: rgb(var(--basalt-undertone)) !important;
    --fnColor: rgb(var(--basalt-bright-element-color));

    /* BetterFootnotes */
    --posX: 6vw;
    --fnLinger: 0.33s;

    /* ACS */
    --one-color: 0, 159, 107;
    --two-color: 0, 135, 189;
    --three-color: 255, 211, 0;
    --four-color: 255, 109, 0;
    --five-color: 196, 2, 51;
    --six-color: 173, 77, 191;

}

/*------------------------*/
/*---- BASALT CLASSES ----*/
/*------------------------*/

/*------------------------*/
/*---- BASALT CLASSES ----*/
/*------------------------*/

:is(div.blockquote, blockquote) {
    color: rgb(var(--basalt-main-text-color));
    overflow: auto;
}

:is(div.blockquote, blockquote):has(div.floatbox) {
    overflow: unset;
}

#page-content div.notation {
    max-width: 45rem;
}

div.notation {
    display: block;
    margin-inline: auto;
    margin-block: 1.4rem;
    padding-inline: 1.1rem;
    padding-block: 0.9rem;
    background-color: rgb(var(--basalt-secondary-color));
    border-left: solid 0.25rem rgb(var(--general-border-color));
    border-right: solid 0.25rem rgb(var(--general-border-color));
    color: rgb(var(--basalt-main-text-color));
}

#page-content div.modal {
    max-width: 57rem;
}

div.modal {
    display: block;
    margin-inline: auto;
    margin-block: 1.4rem;
    padding-inline: 1.5rem;
    padding-block: 0.5rem;
    background-color: rgb(var(--basalt-primary-color));
    border: solid 0.2rem rgb(var(--general-border-color));
    color: rgb(var(--basalt-main-text-color));
}

#page-content div.smallmodal {
    max-width: 47rem;
}

div.smallmodal {
    display: block;
    margin-inline: auto;
    margin-block: 1.4rem;
    padding-inline: 1rem;
    padding-block: 0.2rem;
    background-color: rgb(var(--basalt-primary-color));
    border: solid 0.15rem rgb(var(--general-border-color));
    color: rgb(var(--basalt-main-text-color));
}

#page-content div:is(.jotting, .transcript) {
    max-width: 42rem;
}

div:is(.jotting, .transcript) {
    display: block;
    margin-inline: auto;
    margin-block: 1.4rem;
    padding-inline: 1.5rem;
    padding-block: 0.2rem;
    background-color: rgb(var(--basalt-secondary-color));
    border: dashed 0.15rem rgb(var(--general-border-color));
    color: rgb(var(--basalt-main-text-color));
}

#page-content div.papernote {
    max-width: 30rem;
}

div.papernote {
    display: block;
    margin-inline: auto;
    margin-block: 1.4rem;
    padding: 1rem 2rem;
    background-color: rgb(var(--basalt-tertiary-color));
    color: rgb(var(--basalt-main-text-color));
}

#page-content div:is(.document, .darkdocument) {
    max-width: 45rem;
}

div:is(.document, .darkdocument) {
    display: block;
    margin-inline: auto;
    margin-block: 1.5em;
    padding: 1.5rem;
    position: relative;
    --posX: -20vw;
}

div.document {
    background-color: rgb(var(--document-background-color));
    box-shadow: 0px 1px 1.9px -4px rgba(0, 0, 0, 0.1), 0px 6px 15px -4px rgba(0, 0, 0, 0.2);
    color: rgb(50, 50, 53);
}

div.darkdocument {
    background-color: rgb(var(--darkdocument-background-color));
    box-shadow: 0px 1px 1.9px -4px rgba(0, 0, 10, 0.8), 0px 6px 15px -4px rgba(0, 0, 7, 0.9);
    color: rgb(195, 195, 200);
}

div:is(.document, .darkdocument)::before,
div:is(.document, .darkdocument)::after {
    content: "";
    height: 98%;
    position: absolute;
    width: 98%;
    z-index: -1;
}

div:is(.document, .darkdocument)::before {
    left: -5px;
    top: 4px;
    transform: rotate(-2.5deg);
}

div:is(.document, .darkdocument)::after {
    right: -3px;
    top: 1px;
    transform: rotate(1.4deg);
}

div:is(.document)::before,
div:is(.document)::after {
    background-color: rgb(var(--document-background-color));
}

div:is(.darkdocument)::before,
div:is(.darkdocument)::after {
    background-color: rgb(var(--darkdocument-background-color));
    opacity: 90%;
}

div.document::before {
    box-shadow: 0px 1px 1.9px -4px rgba(0, 0, 0, 0.1), 0px 6px 15px -4px rgba(0, 0, 0, 0.1);
}

div.document::after {
    box-shadow: 0px 1px 1.9px -4px rgba(0, 0, 0, 0.1), 0px 6px 15px -4px rgba(0, 0, 0, 0.05);
}

div.darkdocument::before {
    box-shadow: 0px 1px 1.9px -4px rgba(0, 0, 10, 0.8), 0px 6px 15px -4px rgba(0, 0, 7, 0.9);
}

div.darkdocument::after {
    box-shadow: 0px 1px 1.9px -4px rgba(0, 0, 10, 0.8), 0px 6px 15px -4px rgba(0, 0, 7, 0.05);
}

@media only screen and (max-width: 1020px) {

    div:is(.document, .darkdocument)::before,
    div:is(.document, .darkdocument)::after {
     display: none;
    }
}

div[class$="_memo"] {
    background: var(--memo-logo) rgba(var(--memo-color), 1);
    background-size: contain;
    background-position: top center;
    background-repeat: no-repeat;
    min-height: 4rem;
    margin-inline: auto;
    margin-block: 2rem;
    padding-inline: 20px;
    padding-block: 10px;
    border: solid 2px rgba(0, 0, 0, 0.1);
    text-align: center;
}

div[class$="_memo"]::before {
    content: var(--memo-heading);
    font-family: var(--UI-font);
    font-weight: 900;
    font-size: 1.3em;
    text-align: center;
    margin: 0 auto 1rem auto;
    display: flex;
    flex-direction: column;
    padding-top: 0.5em;
}

div.raisa_memo {
    --memo-heading: "来自记录与信息安全管理部的通知";
    --memo-logo: url(https://scp-wiki.wikidot.com/local--files/theme:basalt/RAISA_LIGHTLOGO.png);
    --memo-color: 255, 243, 173;
}

div.classification_memo {
    --memo-heading: "分级委员会备忘录";
    --memo-logo: url(https://scp-wiki.wikidot.com/local--files/theme:basalt/CLASSIFICATION_LIGHTLOGO.png);
    --memo-color: 237, 245, 243;
}

div.ettra_memo {
    --memo-heading: "来自潜在威胁战术响应局的通知";
    --memo-logo: url(https://scp-wiki.wikidot.com/local--files/theme:basalt/ETTRA_LIGHTLOGO.png);
    --memo-color: 245, 215, 215;
}

div.ethics_memo {
    --memo-heading: "伦理委员会备忘录";
    --memo-logo: url(https://scp-wiki.wikidot.com/local--files/theme:basalt/ETHICS_LIGHTLOGO.png);
    --memo-color: 255, 219, 196;
}

div.temporal_memo {
    --memo-heading: "时间异常部门";
    --memo-logo: url(https://scp-wiki.wikidot.com/local--files/theme:basalt/DELTA_T_LIGHTLOGO.png);
    --memo-color: 255, 255, 255;
}

div.overwatch_memo {
    --memo-heading: "监督者指挥部";
    --memo-logo: url(https://scp-wiki.wikidot.com/local--files/theme:basalt/O5_LIGHTLOGO.png);
    --memo-color: 227, 227, 227;
}

div.miscomm_memo {
    --memo-heading: "来自误传部门的通知";
    --memo-logo: url(https://scp-wiki.wikidot.com/local--files/theme:basalt/MISCOMM_LIGHTLOGO.png);
    --memo-color: 238, 237, 250;
}

.table1 {
    --basalt-th-background-color: var(--one-color);
}

.table2 {
    --basalt-th-background-color: var(--two-color);
}

.table3 {
    --basalt-th-background-color: var(--three-color);
    --basalt-th-text-color: var(--basalt-main-text-color);
}

.table4 {
    --basalt-th-background-color: var(--four-color);
}

.table5 {
    --basalt-th-background-color: var(--five-color);
}

.table6 {
    --basalt-th-background-color: var(--six-color);
}

div:is(.table1, .table2, .table3, .table4, .table5, .table6) .scp-image-block {
    border-bottom-color: rgba(var(--basalt-th-background-color), 0.75);
}

div.tableb :is(#page-content table:not(.form), table.wiki-content-table) {
    border-collapse: separate;
    border-spacing: 4px;
}

span:is(.bigtext, .bt) {
    font-family: var(--header-font);
    font-weight: bold;
}

span:is(.specialtext, .st) {
    font-family: var(--UI-font);
    font-weight: bold;
}

:is(.table1, .table2, .table3, .table4, .table5, .table6) span:is(.st, .specialtext) {
    color: rgb(var(--basalt-th-background-color));
}

#page-content div.floatbox {
    background-color: rgb(var(--floatbox-background-color));
    float: left;
    max-width: calc(var(--main-content-width)/2.25);
    box-sizing: border-box;
    margin: 0.25rem 1.25rem;
    margin-left: clamp(calc(var(--main-content-width)/-4.5), calc((87.5vw - 95%)/-2), 0rem);
    padding-inline: 1.2rem;
    padding-block: 0.5rem;
    font-size: 0.9125em;
    border-radius: 7px;
    border: solid 0.12rem rgba(var(--general-border-color), 0.4);
}

#page-content div.floatbox.right {
    float: right;
    margin-left: 1.25rem;
    margin-right: clamp(calc(var(--main-content-width)/-4.5), calc((87.5vw - 95%)/-2), 0rem);
}

@media only screen and (max-width: 640px) {
    #page-content div:is(.floatbox, .floatbox.right) {
     float: none;
     margin: 0.5rem auto;
     width: 100%;
    }
}

:is(.table-no-border, .authorbox) td {
    border-color: transparent !important;
}

/*--------------*/
/*---- MISC ----*/
/*--------------*/

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body,
li,
p {
    line-height: 1.55;
}

@supports (font-feature-settings: inherit) {

    *,
    *::before,
    *::after {
     font-feature-settings:
     "zero" var(--zero, 0);
    }

}

::selection {
    text-shadow: none !important;
}

#page-content {
    font-size: calc(var(--true-font-size) * 1.2);
}

#main-content [id] {
    scroll-margin-top: calc(var(--header-final-height) + 1rem);
}

/* MISC --> Header alterations */

#header {
    background: linear-gradient(0deg, rgba(var(--header-background-color), 0.85) 0%, rgb(var(--header-background-color)) 100%);
    border-bottom: none;
    box-shadow: 0px 0px 8.5px -1px rgba(0, 0, 0, var(--header-drop-shadow-opacity)), 0px 0px 68px -21px rgba(0, 0, 0, calc(var(--header-drop-shadow-opacity) * 4));
    -webkit-backdrop-filter: blur(var(--basalt-UI-blur));
    backdrop-filter: blur(var(--basalt-UI-blur));
    font-family: var(--header-font);
}

#header h1 a {
    padding-left: calc(var(--base-header-height)*0.25);
    padding-right: calc(var(--base-header-height)*0.5);
}

#header h1 a span::before {
    font-weight: 900;
}

#header h1 a span::after {
    margin-bottom: 6px;
    font-weight: 600;
}

#header h1 a span {
    align-items: unset;
    text-align: unset;
}

#top-bar div[class*="top-bar"] ul li ul li a {
    box-shadow: none;
}

#login-status span.printuser>a img {
    filter: drop-shadow(0rem 0.2rem 0.35rem rgba(0, 0, 0, 0.19));
}

div#account-options>ul>li>a {
    transition: color 0.4s;
}

/* MISC --> Side bar alterations */

#side-bar:is(:hover, :focus-within)::before {
    height: calc(var(--base-header-height) + var(--header-border-width));
}

:is(#side-bar, #interwiki) .heading {
    background-color: rgb(var(--side-bar-heading-background-color));
    font-weight: 900;
    color: rgba(var(--side-bar-heading-text-color), 0.8);
}

#side-bar:is(:hover, :focus-within)::after {
    opacity: 40%;
}

#side-bar::after {
    transition: background-color var(--side-bar-transition), opacity var(--side-bar-transition);
}

/* MISC --> Various UI alterations */

form#edit-page-form table.form td:nth-of-type(1) {
    display: none;
}

#edit-page-title {
    background-color: rgba(var(--edit-area-ancillary-background-color)) !important;
    border: solid var(--edit-area-border-width) rgb(var(--edit-area-border-color), 0.5) !important;
    border-top-right-radius: var(--window-border-radius);
    border-top-left-radius: var(--window-border-radius);
    font-weight: 900;
    text-align: center;
}

#edit-page-textarea {
    font-family: var(--mono-font);
    font-size: 110%;
    height: 47vh;
}

.wd-editor-toolbar-panel ul li a::after,
#edit-page-form .wd-editor-toolbar-panel a:is(:hover, :focus)::after,
#edit-page-form .wd-editor-toolbar-panel div>ul>li.sfhover>a:not(:hover, :focus)::after,
#edit-page-form .wd-editor-toolbar-panel div>ul>li:focus-within>a:not(:hover, :focus)::after {
    background-color: rgb(var(--edit-area-toolbar-icon-color));
}

#edit-page-form .wd-editor-toolbar-panel a::after {
    -webkit-mask-size: 70%;
    mask-size: 70%;
}

#wd-editor-toolbar-panel>div {
    grid-gap: calc(var(--edit-area-toolbar-icon-size)/1.6);
}

#edit-page-form>.buttons.alignleft>input[type="button"] {
    font-size: var(--true-font-size);
    padding: 1ch;
}

#edit-page-title,
#lock-info,
#edit-page-comments {
    color: rgb(var(--edit-area-ancillary-text-color));
}

#lock-info {
    border: solid 0.12rem rgba(var(--general-border-color), 0.4);
}

#action-area div.buttons> :is([name="save"], [name="save-continue"], [onclick*="PageTagsModule.listeners.save(event)"]) {
    --button-text-color: var(--basalt-positive-color);
    font-weight: bold;
}

#footer {
    color: rgb(var(--bottom-area-text-color));
    border-top: solid 2px rgb(var(--basalt-tertiary-color));
}

#footer-bar {
    display: none;
}

#license-area::before,
#license-area::after {
    margin-bottom: 10px;
}

div[id*="page-options-bottom"]>a {
    font-family: var(--UI-font);
    color: rgb(var(--basalt-main-text-color));
}

#more-options-button {
    background-color: rgb(var(--basalt-tertiary-color));
    color: inherit;
}

form#edit-page-form>table.form {
    position: relative;
}

form#edit-page-form>table.form::before {
    content: "标题";
    display: block;
    position: absolute;
    bottom: 30%;
    width: calc(100% - 15px);
    padding-left: 15px;
    pointer-events: none;
    opacity: 50%;
    font-family: var(--UI-font);
    font-weight: 900 !important;
    font-size: 11px;
    color: rgb(var(--edit-area-ancillary-text-color));
}

#edit-page-textarea:focus-visible {
    border-color: rgb(var(--basalt-dark-element-color));
}

#action-area>h1 {
    font-weight: 900;
}

#action-area>p {
    font-size: 0.9em;
    text-align: center;
}

#footer .options {
    border-right: solid var(--footer-divider-thickness) rgba(var(--footer-divider-color), 0.1);
}

#license-area::before {
    background: rgba(var(--license-area-divider-color), 0.1);
}

.autocomplete-list li.yui-ac-highlight {
    background-color: rgb(var(--basalt-secondary-color));
}

#revision-list .page-history tr[id*="revision-row"] td:nth-child(1)::before {
    background-color: rgb(var(--basalt-undertone));
}

#revision-list .page-history tr[id*="revision-row"]::before {
    background: rgb(var(--basalt-undertone));
}

.owindow {
    border-radius: var(--window-border-radius);
    font-family: var(--UI-font);
}

.owindow .button-bar>a[onclick*="cleanAll"] {
    border-top-right-radius: var(--window-border-radius);
}

.owindow .title {
    font-family: var(--UI-font);
    background-color: transparent;
    height: 2rem;
    justify-content: center;
    opacity: 60%;
    color: rgb(var(--basalt-main-text-color));
}

.owindow div[style*="margin-top"] {
    margin-bottom: 12px;
    margin-top: 20px !important;
}

.owindow> :not(.button-bar, .title)>img {
    height: 5em;
    border-radius: var(--window-border-radius);
}

.owindow .button-bar>a[onclick*="cleanAll"]::after {
    background: rgb(var(--basalt-main-text-color));
    transition-property: background;
    transition-duration: 0.3s;
}

.owindow .button-bar>a[onclick*="cleanAll"]:hover::after {
    background: rgb(var(--basalt-light-text-color));
}

.owindow>.content.modal-body>img+h1+table>tbody>tr>td {
   
